**/node_modules/**
**/.env/**
**/.DS_Store/**
.DS_Store
modules/4#-rentx-api/ormconfig.json
modules/4#-rentx-api/tmp/avatars/*.png
modules/4#-rentx-api/tmp/avatars/*.jpg
modules/4#-rentx-api/tmp/avatars/*.jpeg
